body {
  background-color: lightseagreen;
  margin: 0 auto;
  width: 960px;
}
h1 {
  color: maroon;
}
p {
  color: gainsboro;
}
a:link, a:visited {
  text-decoration: none;
  color: lime;
  font-weight: bold;
}
a:hover {
  color: black;
}
nav ul {
  list-style-type: none;
  padding: 0;
}
nav li {
  
  float: left;
}
nav a:link, nav a:visited {
  background-color: SaddleBrown;
  color: gainsboro;
  display: block;
  width: 160px;
  text-align: center;
  padding: 10px 0;
}
nav a:hover {
  background-color: blue;
}
header {
  background-image: url("../images/eten.jpg");
  height: 90px;
}
 header h1 {
  color: rgba(256, 256, 256, .8);
  text-align: right;
  padding-right: 20px;
  color: gainsboro;
}