body {
  background-color: lightseagreen;
}
h1 {
  color: maroon;
}
p {
  color: gainsboro;
}
a:link, a:visited {
  text-decoration: none;
  color: lime;
  font-weight: bold;
}
a:hover {
  color: black;
}
nav ul {
  list-style-type: none;
}
nav li {
  display: inline;
}
nav a:link, nav a:visited {
  background-color: red;
  color: white;
}
nav a:hover {
  background-color: blue;
}