body {
  background-color: cadetblue;
  margin: 0 auto;
  width: 910px;
}
h1 {
  color: #D3ECED;
}
p {
  color: #416C6E;
}
@font-face {
  font-family: FinkHeavy;
  src: url(../font/FinkHeavy.ttf);
}
* {
  font-family: FinkHeavy, Arial, Helvetica, sans-serif;
}
header {
  background-image: url("../images/eten3.jpg");
  height: 80px;
}
 header h1 {
  text-align: left;
  /* padding-top: 2px; */
  padding-right: 20px;
  color: #416c6e;
}
.block {
  background-color: cadetblue;
  width: 30%;
  float: left;
  margin: 5px;
  padding: 10px;
}
.block h1, h3, p {
  text-align: center;
  color: #416C6E;
}
footer {
  color: #416C6E;
}
/* Style the navbar */
#navbar {
  overflow: hidden;
  background-color: #416C6E;
}
a {
  color: #D3ECED;
  text-decoration: none;
}
/* Navbar links */
#navbar a {
  float: left;
  display: block;
  width: 130px;
  /* color: #D3ECED; */
  text-align: center;
  padding: 10px 0;
  text-decoration: none;
  font-weight: bold;

}
#navbar a:hover {
  background-color: #D3ECED;
  color: #416C6E;
}
.active_link {
  background-color: #D3ECED;
  color: #416C6E;
}
/* Page content */
.content {
  padding: 16px;
}
/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  /* width: 910px; */
}
/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
}
/* Recept opmaak in grid */
#grid {
  margin: 0;
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: 100%;
  grid-template-areas:
      "aside section";
}
.ingredienten h3, ul {
  grid-area: aside;
  color: #416C6E;
  text-align: left;
  padding: 0;
  word-wrap: break-word;
}

.bereiden h3, p {
  grid-area: section;
  color: #416C6E;
  text-align: left;
}